<!DOCTYPE html>

<html class="">

<head>
    @vite(['resources/css/app.css', 'resources/js/app.js']) 
    <title>Sign Up</title>
    <link rel="icon" href="/resources/images/porta_branca.png">

    <style>
        ::selection {
            background-color: gold; /* Cor de fundo da seleção */
        }

        body {
            background-image: url('/resources/images/vinyls.jpg');
            background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
            background-position: center; /* Centraliza a imagem */
            background-repeat: no-repeat; /* Evita que a imagem se repita */
            min-height: 100vh; /* Garante que a imagem cubra a altura total da tela */
            min-width: 100vw; /* Garante que a imagem cubra a largura total da tela */
        }
    </style>
</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 mt-4 mb-4 py-12 lg:px-8 sm:mx-auto sm:w-full sm:max-w-md bg-timberwolf bg-opacity-85 rounded-lg shadow-md">

        <div class="flex items-center justify-center h-full md:py-8 text-rich-black-dark">
            <a href="{{ route("albums.index") }}" class="flex items-center py-4 space-x-2 font-extrabold text-rich-black-dark md:py-0">
                <span class="flex items-center justify-center w-12 h-12">
                    <img src="{{ asset('resources/images/porta_preta.png') }}" alt="Logo">
                </span>
                {{-- lógica do the basement digitado --}}
                <span>
                    <div x-data="{
                        text: '',
                        textArray : ['The Basement'],
                        textIndex: 0,
                        charIndex: 0,
                        typeSpeed: 110,
                        cursorSpeed: 550,
                        pauseEnd: 1500,
                        pauseStart: 20,
                        direction: 'forward',
                    }" x-init="$nextTick(() => {
                        let typingInterval = setInterval(startTyping, $data.typeSpeed);
                    
                        function startTyping(){
                            let current = $data.textArray[ $data.textIndex ];
                            
                            // check to see if we hit the end of the string
                            if($data.charIndex > current.length){
                                    $data.direction = 'backward';
                                    clearInterval(typingInterval);
                            }   
                                
                            $data.text = current.substring(0, $data.charIndex);
                            
                            if($data.direction == 'forward')
                            {
                                $data.charIndex += 1;
                            } 
                            else 
                            {
                                if($data.charIndex == 0)
                                {
                                    $data.direction = 'forward';
                                    clearInterval(typingInterval);
                                    setTimeout(function(){
                                        $data.textIndex += 1;
                                        if($data.textIndex >= $data.textArray.length)
                                        {
                                            $data.textIndex = 0;
                                        }
                                        typingInterval = setInterval(startTyping, $data.typeSpeed);
                                    }, $data.pauseStart);
                                }
                                $data.charIndex -= 1;
                            }
                        }
                                    
                        setInterval(function(){
                            if($refs.cursor.classList.contains('hidden'))
                            {
                                $refs.cursor.classList.remove('hidden');
                            } 
                            else 
                            {
                                $refs.cursor.classList.add('hidden');
                            }
                        }, $data.cursorSpeed);
                
                    })" class="flex items-center justify-center mx-auto text-center max-w-7xl text-rich-black-dark">
                        <div class="relative flex items-center justify-center h-auto text-rich-black-dark">
                            <p class="text-2xl font-black leading-tight text-rich-black-dark" x-text="text"></p>
                            <span class="absolute right-0 w-2 -mr-2 bg-black h-3/4 text-rich-black-dark"
                                x-ref="cursor"></span>
                        </div>
                    </div>
                </span>
            </a>
        </div>

        <div class="flex h-full text-rich-black-dark">
            <h1 class="flex my-3 justify-center font-bold text-rich-black-dark">
                Cadastre-se
            </h1>
        </div>

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            @form({ action: route('users.store'), method: 'POST' })

                <div>
                    <label for="username" class="block text-sm font-semibold text-rich-black">Nome de Usuário</label>
                    @!input({
                        name: 'username',
                        type: 'text',
                        id: 'username',
                        placeholder: 'VHSilva',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm',
                        required: true
                    })
                </div>

                <div>
                    <label for="firstName" class="block text-sm font-semibold text-rich-black">Primeiro Nome</label>
                    @!input({
                        name: 'firstName',
                        type: 'text',
                        id: 'firstName',
                        placeholder: 'Vinilcius',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm'
                    })
                </div>

                <div>
                    <label for="lastName" class="block text-sm font-semibold text-rich-black">Último Nome</label>
                    @!input({
                        name: 'lastName',
                        type: 'text',
                        id: 'lastName',
                        placeholder: 'Souza',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm'
                    })
                </div>
                
                <div>
                    <label for="email" class="block text-sm font-semibold text-rich-black">Email</label>
                    @!input({
                        name: 'email',
                        type: 'email',
                        id: 'email',
                        placeholder: 'vinilcius@thebasement.com',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm',
                        required: true
                    })
                </div>

                <div>
                    <label for="password" class="block text-sm font-semibold text-rich-black required:">Senha</label>
                    @!input({
                        name: 'password',
                        type: 'password',
                        id: 'password',
                        placeholder: 'chave do porão',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm',
                        required: true
                    })
                    </div>
                </div>

                <div>
                    <label for="password_confirmation" class="block text-sm font-semibold text-rich-black required:">Confirme a Senha</label>
                    @!input({
                        name: 'password_confirmation',
                        type: 'password',
                        id: 'password_confirmation',
                        placeholder: 'chave do porão',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm',
                        required: true
                    })
                </div>

                <div>
                    @button({ type: 'submit', properties: 'flex w-full justify-center rounded-md bg-rose px-3 py-1.5 text-sm/6 mt-8 text-rich-black font-semibold shadow-sm bg-transition-opacity duration-200 bg-opacity-75 hover:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-sky' })
                    Cadastrar
                    @end
                </div>
            </form>

            <p class="mt-10 text-center text-sm/6 font-semibold">
                Já é membro do Porão?
                <a href="{{ route('auth.signin') }}" class="font-semibold text-rose hover:text-persian-indigo">Entre agora</a>
            </p>
            @endform
        </div>
    </div>
</body>

</html>