<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ asset('resources/css/style.css') }}">
</head>
<body>
    <div>
        <!-- Include the Alpine library on your page -->
        <script src="//unpkg.com/alpinejs" defer></script>

        <!-- Include the TailwindCSS library on your page -->
        <script src="https://cdn.tailwindcss.com"></script>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="btn">Entrar</button>
                <p class="signup-text">Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
            </form>
        </div>
    </div>
</body>

</html>