<!DOCTYPE html>

<html class="">

<head>
    @vite(['resources/css/app.css', 'resources/js/app.js']) 
    <title>Login</title>
    <link rel="icon" href="/resources/images/porta_branca.png">

    <style>
        ::selection {
            background-color: gold; /* Cor de fundo da seleção */
        }

        body {
            background-image: url('/resources/images/vinyls.jpg');
            background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
            background-position: center; /* Centraliza a imagem */
            background-repeat: no-repeat; /* Evita que a imagem se repita */
        }
    </style>
</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-end px-6 mt-10 py-12 lg:px-8 sm:mx-auto sm:w-full sm:max-w-md bg-timberwolf bg-opacity-80 p-6 rounded-lg shadow-md">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <a href="{{ route('albums.index')}}">
                <img src="resources/images/porta_braca.png" alt="The Basement Logo" class="h-full w-full object-cover object-end lg:h-full lg:w-full">
            </a>
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight">Acesse O Porão</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            @form({ action: route('albums.store') })
                <div>
                    <label for="email" class="block text-sm font-medium text-rich-black">Email</label>
                    @!input({
                        name: 'email',
                        type: 'email',
                        id: 'email',
                        placeholder: 'vinil@thebasement.com',
                        class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm'
                    })
                </div>

                <div>
                    <div class="text-sm"></div>
                        <label for="password" class="block text-sm font-medium text-rich-black required:">Senha</label>

                        @!input({
                            name: 'password',
                            type: 'password',
                            id: 'password',
                            placeholder: 'chave do porão',
                            class: 'mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm'
                        })
                    
                        <a href="#" class="flex font-semibold text-rose hover:text-persian-indigo justify-end pb-4 mb-3">Perdeu a chave?</a>
                    </div>
                </div>
                <div>
                    @button({ type: 'submit', properties: 'flex w-full justify-center rounded-md bg-rose px-3 py-1.5 text-sm/6 text-rich-black font-semibold text-timberwolf shadow-sm bg-transition-opacity duration-200 bg-opacity-75 hover:bg-opacity-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-sky' })
                    Entrar
                    @end
                </div>
            </form>

            <p class="mt-10 text-center text-sm/6">
                Ainda não entrou no Porão?
                <a href="{{ route('auth.register') }}" class="font-semibold text-rose hover:text-persian-indigo">Cadastre-se já</a>
            </p>
            @endform
        </div>
    </div>
</body>

</html>