
<!DOCTYPE html>
<html>
  <head>
    <title>The Basement</title>
  </head>
  </body>
    <nav>
      <a>Produtos</a>
      <a>{{ email }}</a>
    </nav>
    <main>
      <div>
        Lista de Produtos
      </div>
      <div>
        <div>Produto A</div>
        <ul>
          @each(product in products)
            <li>
              <a href="{{`/products/${product.id}`}}">{{product.name}}</a> - {{product.price}} - {{product.description}}
            </li>
          @end
        </ul>  
      </div>
    </main>
  </body>
</html>