@layouts.app() 
    <div>
        <div>
            Nome: {{ product.name }}
        </div>
        <div>
            Preço: {{ product.price }} reais
        </div>
        <div>
            Descrição: {{ product.description }}
        </div>
    </div>
@end