@layouts.app() 
    <div>
        testandooooo
        <div>
            titulo: {{ movie.title }}
        </div>
        <div>
            Preço: {{ movie.price }} reais
        </div>
        <div>
            Descrição: {{ movie.description }}
        </div>
        <div>
            Duração: {{ movie.runtime }} Horas
        </div>
        <div>
            Data de lançamento: {{ movie.release_date }}
        </div>
    </div>
@end