<!DOCTYPE html>
<html>

<head>
    @vite(['resources/css/app.css', 'resources/js/app.js']) 
    <title>The Basement</title>
</head>

<body>
    <div>
        {{-- @include('components/layouts/partials/background')  --}}
        <div>
            @include('components/layouts/partials/header')

    
            {{{ await $slots.main() }}}
        
            @include('components/layouts/partials/footer')
        </div>
    </div>

</body>

</html>