<!DOCTYPE html>
<html>

<head>
    @vite(['resources/css/app.css', 'resources/js/app.js']) 
    <title>The Basement</title>

    <style>
        ::selection {
            background-color: gold; /* Cor de fundo da seleção */
            color:; /* Cor do texto da seleção */
        }
    </style>
</head>

<body class="bg-rich-black">
    <div>
        {{-- @include('components/layouts/partials/background')  --}}
        <div>
            @include('components/layouts/partials/header')

    
            {{{ await $slots.main() }}}
        
            @include('components/layouts/partials/footer')
        </div>
    </div>

</body>

</html>