<!DOCTYPE html>
<html>

<head>
    {{-- @vite(['resources/css/app.css', 'resources/js/app.js']) --}}
    <title>The Basement</title>
</head>

<body>
    @include('components/layouts/partials/header')
    
    {{{ await $slots.main() }}}
</body>

</html>