@layouts.app() 
    <div>
        <div>
            Nome: {{ song.name }}
        </div>
        <div>
            Preço: {{ song.price }} reais
        </div>
        <div>
            Duração: {{ song.duration }} minutos
        </div>
        <div>
            Data de lançamento: {{ song.releaseDate }}
        </div>
    </div>
@end