<button type="{{ type }}" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-timberwolf shadow-sm ring-1 ring-inset ring-rose hover:text-opacity-75">
    {{{ await $slots.main() }}}
</button>