<div class="my-2">
    <div class="flex w-full max-w-sm min-w-[200px]">
        <input class="w-full bg-rich-black placeholder:text-timberwolf-dark text-rose-light text-sm border border-rose-light rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-dark-violet hover:border-persian-indigo shadow-sm focus:shadow" 
        name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}"
        />
    </div>
</div>